<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
	
		
    
    <link rel="stylesheet" th:href="@{/fontawesome/all.css}" />
	<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
	<script th:src="@{/richtext/jquery.richtext.min.js}"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
tinymce.init({
selector: "customtextarea",
plugins: [
"insertdatetime"
],
width: 700,
height: 400
})
</script>
	<title>Tickets</title>
</head>

<body>
	<div class="container">

		<hr>
		<p class="h4 mb-4">Create Ticket</p>
		<form action="#" th:action="@{/save}" th:object="${ticket}" method="POST">

			<!-- Add hidden form field to handle update -->
			<div>
				<input type="hidden" th:field="*{id}" />
				<label for="title">Title</label>
				<input type="text" th:field="*{title}" class="form-control mb-4 col-6" placeholder="title">
				<label for="description">Short Description</label>
				<textarea rows="4" cols="50" type="text" th:field="*{description}"
					class="form-control mb-4 col-6"></textarea>
				<div class="form-group">
					<label for="content">Content</label>
					 <customtextarea  id="fulldescription" rows="4" cols="50" type="text" th:field="*{content}"
						class="form-control mb-4 col-6"></customtextarea> 
						 
				</div>

				<button type="submit" class="btn btn-info col-2">Save</button>

		</form>

		<hr>
		<a th:href="@{/tickets}">Back to tickets</a>
	</div>
   
 
    

	</div>
</body>

</html>